.input_styles {
  border: 1px solid #d8e0e8;
  border-radius: 8px;
  background: #f8f9fd;
  margin-bottom: 1rem;
}

.button_style {
  color: #f1f2f4;
  border-radius: 8px;
  height: 3rem;
  margin-bottom: 3rem;
}
