@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  text-align: left;
}

.forgot_pass {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-align: left;
  background-color: #28246f;
  height: 100vh;
}

.forgot_pass p {
  color: #89899c;
}

.flex_container {
  display: flex;
}

.image {
  align-self: center;
  padding: 3rem;
  width: clamp(15rem, 70%, 100rem);
  max-height: 80vh;
}

.icon {
  cursor: pointer;
  display: flex;
  color: #f8f9fd;
  align-items: center;
  font-weight: 700;
  gap: 0.5rem;
  font-size: 2rem;
}

.logo {
  margin: 1rem;
  color: #f8f9fd;
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: #0b5fae;
  cursor: pointer;
}

p {
  color: #89899c;
}

.form {
  width: 350px;
  padding: 0 1rem;
}

form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.input_styles {
  border: 1px solid #d8e0e8;
  border-radius: 8px;
  background: #f8f9fd;
  margin-bottom: 1rem;
}

.button_style {
  color: #f1f2f4;
  border-radius: 8px;
  height: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .flex_container {
    padding: 1rem 7rem 0;
    flex-flow: row-reverse;
    justify-content: center;
  }
  .image {
    padding: 0 4rem;
  }
  .form {
    margin-left: 0;
  }
}
